
<div class="container mt-5 ">
  <h3> {{title}}</h3>
  <p>Descripción: {{description}}</p>
  <p>Precio: {{price}}</p>
  <img class="w-80 h-40" src={{thumbnail}} class="card-img-top" alt="imagen del producto"> 
  <br><br>
  <form action="/cart/{{_id}}" method="post">
    <input class="btn btn-dark" type="submit" value="Comprar">
    <button class="btn btn-info "><a type="button" href="/products">volver</button></a>

  </form>
</div>