
<div>BIENVENIDOS A MI TIENDA ONLINE {{isLogin}}</div>
{{!-- Mostramos los productos con una cad de bootstrap --}}

<div>
 

<h2>Productos</h2>
<div class="d-flex flex-row flex-wrap container">
  {{#each products}}
    <div class="border-1 border m-1 p-2 w-25 ">
      <h5 class="card-title">{{title}}</h5>
      <img class="w-100 h-50" src={{thumbnail}} class="card-img-top" alt="imagen del producto">
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{price}}</p>
      <a href="/product/{{_id}}">
      <button class="btn btn-info">Detalles</button>
      </a>
    </div>
  {{/each}}
</div>
<div class="container d-flex "> 
  {{! Indicamos que los botones aparezcan mientras prevPage y nextPage no sean null }}
  {{#if prevPage}}
    <a href={{prevLink}}>
      <button class="btn btn-info">Anterior</button>
    </a>
  {{/if}}
  <p class="mx-2 ">Page {{this.page}}</p>
  {{#if nextPage}}
    <a href={{nextLink}}>
      <button class="btn btn-info">Siguiente</button>
    </a>
  {{/if}}
</div>